* {
    padding:0;
    margin:0;
}

.nastroyki {
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px,2px,2px
}

.main-header{
    font-size: 32px;
    width: fit-content;
    height: 1em;
    padding: 1em;
}
.main-desk{
    margin-top: 20px;
    min-width: fit-content;
    width: 40vw;
    font-size: 50px;
    height: 4em;
    padding: 2em;
}
.main-niz{
    margin:auto;
    align-items: center;
    justify-content: center;
    display:flex;
    min-width: fit-content;
    font-size: 32px;
    width: 46vw;
    height: 1em;
    padding: 2em;
    border-radius:20px;
    
}
.head-but{
    display:flex;
    width:fit-content;
    padding: .5em;
    border-radius: 10px;
    margin-right: 1em;
    cursor: pointer;
    height: 3.5vw;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.conteiner{
    width:100vw;
    height:100vw;
    display:flex;
}
.btn1{

}
.btn2{

}
.btn3{

}
.btn4{
    background-color:blueviolet;
    color:white;
    width:5em;
}
.heade{
    width: 100vw;
    height: 10vh;
    padding: 1em 0 1em;
    position:fixed;
    display:flex;
    justify-content: space-around;
}
